.text-center{
    text-align: center;
}
.heading-small{
    font-size: 1.25rem;

}
.heading-medium{
    font-size: 1.5rem;
}
.heading-big{
    font-size: 1.7rem;
}
/* -Colars-*/
.bg-dark-grey{
    background:#313131 ;
}
.bg-light-blue{
    background: #aea8a8;
}
/* Buttons */
.btn{
    margin-top: 1.25rem;
    padding: 0.8rem 3rem;
    border-radius: 7px;
    letter-spacing: 1px;

}
.btn-primary{
    background: #f15c22;
}
.btn-primary:hover{
color: #f15c22;
background: white;
border: 0.5px solid #d69d0e;
}
.form-group{
    padding: 0.25rem 0;
}
.form-group label{
    display: block;
}
.form-control{
    width: 100%;
    padding: 0.4rem;
    font-size: 1rem;
    resize: none; /* bu özelliğin amacı ilk bulunduğu boyutu neyse sabitliyor 
    yani kenardan tutup çekilmiyor */
    border-radius: 5px;
}
/* Conteiner */
.conteiner{
    max-width: 1100px;
    margin: 0 auto;
    
}